body {
    font-family: 'Inter', sans-serif;
    background-color: #f1f5f9; /* slate-100 */
}
/* Oculta scrollbar padrão no Webkit */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Oculta scrollbar no Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.sidebar-link.active {
   background-color: #3b82f6; /* bg-blue-600 */
   color: white;
}
.sidebar-link.active i {
   color: white;
}
